@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

:root {
  --UI-black: #131313;
}

* {
	margin:  0;
	padding: 0;
	font-family: "Atkinson Hyperlegible", "Arial", "sans-serif";
	color: black;
}

header {
  padding: 30px;
  padding-bottom: 10px;
	background: whitesmoke;
  font-size: 22pt;
}

main {
  padding: 35px;
  padding-top: 10px;
  font-size: 16pt;
	background: whitesmoke;
}

footer {
  padding: 20px;
  padding-top: 25px;
  color: white;
  background: var(--UI-black);
}

footer > sub {
  color: white;
}

@media (max-width: 600px) {
  font-size: 13pt;
}
