@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

:root {
  --UI-black: #131313;
  --UI-White: #DADADA;
  --Transition:  0.2s;
}
 
* {
	margin:  0;
	padding: 0;
	font-family: "Atkinson Hyperlegible", "Arial", "sans-serif";
	color: black;
}

header {
  #read {
    padding: 20px;
    font-size: 18pt;
    border-radius: 10px;

    color: var(--UI-White);
    background: var(--UI-black);
    transition-duration: var(--Transition);
  } #read:hover {
    border-radius: 15px;
    color: var(--UI-black);
    background: var(--UI-White);
    transition-duration: var(--Transition);
  } #read:active {
    color: var(--UI-White);
    background: var(--UI-black);
    transition-duration: var(--Transition);
  }

  padding-top: 30px;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 15px;
	background: var(--UI-White);
  text-align: center;
  font-size: clamp(20px, 4vw, 64px);
  width: 80vw;
}

main {
  padding: 35px;
  padding-top: 10px;
  font-size: 16pt;
	background: var(--UI-White);

  ul {
    li {
      padding-bottom: 3px;
    }
  }
}

#definition {
  font-size: 20pt;
  padding: 12px
}

footer {
  sub {
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
    transition-duration: var(--Transition);
  } a:hover {
    color: var(--UI-white);
    text-decoration: underline;
    transition-duration: var(--Transition);
  }

  padding: 20px;
  padding-top: 25px;
  color: white;
  background: var(--UI-black);
}

// Media Queries //
@media (max-width: 600px) {
  main {
    font-size: 14pt;
    padding: 22px;
    padding-top: 8px;

    ul {
      li {
        padding-bottom: 0;
      }
    }
  }

  #definition {
    font-size: 15px;
    padding: 0;
  }
}
